/* Fondo para el componente Home */
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

/* Contenedor del hero */
.hero-container {
    width: 100%;
}

/* imagen hero siempre debajo del navbar */
.hero-image {
    width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
}

/* Texto encima del hero */
.hero-overlay-text {
    position: absolute;
    top: 28%;
    left: 18%;
    text-align: left;
    width: auto;
    max-width: 35vw;
}

h1, h2 {
    margin: 0;
}

h1 {
    color: #44413A;
}

h2 {
    color: #636362;
}

.hero-overlay-text h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
}

.hero-overlay-text h2 {
    line-height: 1.1;
}

/* Texto debajo del hero */
.info-container h1 {
    text-align: center;
    font-size: 2.7rem;
}

.info-container h2 {
    font-size: 1.7rem;
}

/* Contenedor del footer */
.footer-container {
    position: relative;
    width: 100%;
}

/* Nubes de fondo del footer */
.footer-image {
    width: 100%;
    display: block;
    object-fit: contain;
}

/* Botones encima del footer */
.footer-buttons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: auto;
    max-width: 100%;
}

/* Cada botón */
.home-button {
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Efecto en los botones*/
.home-button:hover {
    opacity: 0.7;
}

/* TEXTO FOOTER */
.footer-text {
    position: absolute;
    text-align: left;
    color: #626263;
    font-size: 1.2rem;
    font-style: italic;
    top: 90%;
    margin: 0;
}

/* evitar que imágenes se desborden */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
