.footer {
    position: relative; /* Establece el contexto para el posicionamiento absoluto del texto */
}

.line {
    display: block;     /* Para evitar espacios no deseados debajo de la imagen */
    width: 100%;        /* Ajusta según el ancho deseado */
    height: auto;       /* Mantiene la proporción */
}

.footer-text {
    font-family: 'Nunito', sans-serif;
    color: #636362;
    font-style: italic;
    font-size: 1.4rem;
    position: absolute;
    left: 1%;            /* Alinea a la izquierda en escritorio */
    top: 30%;           
    transform: translateY(-50%); 
    text-align: left;   
}

@media (max-width: 768px) {
    .footer-text {
        font-size: 1rem;      /* Texto un poco más pequeño */
        left: 50%;               /* Centrado horizontal */
        transform: translate(-50%, -50%); /* Ajuste fino para centrar completamente */
        text-align: center;      /* Asegura que el texto quede centrado */
        width: 100%;             /* Opcional: evita desbordes en pantallas muy pequeñas */
    }
}