html, body, #root {
	font-family: 'Nunito', sans-serif;
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

/* Ensure all elements and pseudo-elements inherit the font */
*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

